<%= form_with(model: page) do |form| %>
  <% if page.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(page.errors.count, "error") %> prohibited this page from being saved:</h2>

      <ul>
        <% page.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name, placeholder: "My website" %>
  </div>

  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.url_field :url, placeholder: "https://example.org/..." %>
  </div>

  <div>
    <%= form.label :check_type, style: "display: block" %>
    <%= form.select :check_type, [["Text", "text"], ["Exists", "exists"], ["Not exists", "not_exists"]] %>
  </div>

  <div>
    <%= form.label :selector, style: "display: block" %>
    <%= form.text_field :selector, placeholder: ".class" %>
  </div>

  <div>
    <%= form.label :match_text, style: "display: block" %>
    <%= form.text_field :match_text, placeholder: "text to match" %>
  </div>

  <div class="mt-4">
    <%= form.submit class: "border border-gray-200 rounded shadow px-2 py-1 hover:bg-gray-100"%>
  </div>
<% end %>
